:root{

    --bg:#09090B;

    --surface:#111214;

    --surface-2:#18181B;

    --border:#27272A;

    --primary:#4F46E5;

    --accent:#22D3EE;

    --text:#FAFAFA;

    --muted:#A1A1AA;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{

    background:var(--bg);

    color:var(--text);

    font-family:'Inter',sans-serif;

    overflow-x:hidden;
}

h1,h2,h3,h4{

    font-family:'Space Grotesk',sans-serif;
}

.container{

    width:90%;

    max-width:1300px;

    margin:auto;
}

section{

    padding:120px 0;

    border-bottom:1px solid var(--border);
}

.navbar{

    position:fixed;

    top:0;

    left:0;

    width:100%;

    height:80px;

    display:flex;

    align-items:center;

    justify-content:space-between;

    padding:0 5%;

    background:rgba(9,9,11,.85);

    backdrop-filter:blur(12px);

    border-bottom:1px solid var(--border);

    z-index:1000;
}

.logo{

    font-size:1.3rem;

    font-weight:700;

    color:var(--text);
}

.nav-links{

    display:flex;

    gap:40px;

    list-style:none;
}

.nav-links a{

    text-decoration:none;

    color:var(--muted);

    transition:.3s;
}

.nav-links a:hover{

    color:var(--text);
}

.resume-btn{

    text-decoration:none;

    color:white;

    background:var(--primary);

    padding:12px 22px;

    border-radius:10px;

    font-weight:500;
}

#hero{

    min-height:100vh;

    display:flex;

    align-items:center;

    margin-top:80px;
}

#trust,
#about,
#skills,
#projects,
#timeline,
#certificates,
#contact{

    min-height:80vh;

    display:flex;

    align-items:center;
}

h1{

    font-size:5rem;
}

h2{

    font-size:3rem;
}


#hero{

    min-height:100vh;

    display:flex;

    align-items:center;

    background:
    radial-gradient(
    circle at top right,
    rgba(79,70,229,.15),
    transparent 40%
    ),
    #09090B;
}

.hero-container{

    display:flex;

    align-items:center;

    justify-content:space-between;

    gap:60px;
}

.hero-left{

    flex:1;
}

.hero-tag{

    color:#22D3EE;

    letter-spacing:3px;

    font-size:.9rem;

    font-weight:600;
}

.hero-left h1{

    font-size:6rem;

    line-height:1;

    margin-top:20px;

    margin-bottom:25px;

    color:#FAFAFA;
}

.hero-desc{

    font-size:1.2rem;

    line-height:1.8;

    color:#A1A1AA;

    max-width:600px;
}

.hero-buttons{

    display:flex;

    gap:18px;

    margin-top:35px;
}

.btn-primary{

    background:#4F46E5;

    color:white;

    text-decoration:none;

    padding:15px 28px;

    border-radius:12px;

    font-weight:600;
}

.btn-secondary{

    border:1px solid #27272A;

    color:#FAFAFA;

    text-decoration:none;

    padding:15px 28px;

    border-radius:12px;

    font-weight:600;
}

.hero-stats{

    display:flex;

    gap:60px;

    margin-top:60px;
}

.stat h3{

    font-size:2rem;

    color:white;

    margin-bottom:8px;
}

.stat span{

    color:#A1A1AA;
}

.hero-right{

    flex:.8;

    display:flex;

    justify-content:center;
}

.hero-image{

    width:320px;

    max-width:100%;

    border-radius:24px;

    object-fit:cover;
}


#about{

    background:#09090B;

    border-top:1px solid #27272A;
}

.about-container{

    display:grid;

    grid-template-columns:1fr 1fr;

    gap:100px;

    align-items:center;
}

.section-tag{

    color:#22D3EE;

    letter-spacing:3px;

    font-size:.85rem;

    font-weight:600;
}

.about-left h2{

    font-size:4rem;

    margin-top:20px;

    line-height:1.1;

    color:#FAFAFA;
}

.about-right p{

    color:#A1A1AA;

    font-size:1.1rem;

    line-height:1.9;

    margin-bottom:25px;
}
